@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800;1,6..96,900&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Fugaz+One&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}
html {
    font-size: 16px;
    height: 100vh;
    width: 100vw;
   
}
body {
    height: 100vh;
    width: 100vw;
    overflow: auto;
}
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.header {
    height: 15vh;
    width: 100vw;
    background-color: #d5bdaf;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding-left: 5%;
}
.content {
    height: 85vh;
    display: flex;
    flex-direction: row;

}
.sidebar {
    background-color: #edede9;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    
}
.home {
    width: 80%;
    height: 30%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}
.sidebar-projects {
    width: 80%;
    height: 70%;
    font-size: 1rem;

}
.home h1 {
    border-bottom: 1px solid black;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    height: 20%;
}
.home-btns {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 5%;
    
}
.home-btns button {
    border: 1px solid black;
    height: 20%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-top: 2%;
    gap: 5%;
}
.home-btns button:hover {
    background-color: lightgray;
}
.all-tasks-img, .today-img, .week-img, .favorite-img {
    height: 80%;
    width: 10%;
}
.tasks-image, .today-image, .week-image, .favorite-image, .project-image {
    height: 100%;
    width: 100%;
}
.sidebar-projects h1 {
    border-bottom: 1px solid black;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
#new-proj-btn {
    height: 9%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    gap: 5%; 
}
#new-proj-btn:hover {
    background-color: lightgray;
}
.proj-img {
    height: 70%;
    width: 10%;
}

.project-btns {
    margin-top: 4%;
    height: 80%;
}

/* style new project form */
.add-proj-form {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}
#new-project-input {
    width: 99%;
    height: 35%;
    border-radius: 5px;
    border: 1px solid black;
}
.project-form-btns-div {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: space-between;
}

#project-form-submit {
    width: 40%;
    height: 60%;
    border: 1px solid black;
    border-radius: 5px;
}
#project-form-cancel {
    width: 40%;
    height: 60%;
    border: 1px solid black;
    border-radius: 5px;
}

/* projects list on sidebar*/
.project-list-item {
    height: 3vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
   
}
.project-list-item:hover {
    background-color: lightgray;
}
.project-item-text {
    margin-left: auto;
}
.delete-project-button {
    width: 10%;
    height: 90%;
    margin-left: auto;
    margin-right: 2%;
    background-color: transparent;

}

.delete-project-img {
    height: 100%;
    width: 100%;
    background-color: transparent;
    filter: invert(51%) sepia(8%) saturate(7%) hue-rotate(39deg) brightness(98%) contrast(90%);
}
.delete-project-img:hover {
    filter: invert(0%) sepia(93%) saturate(0%) hue-rotate(255deg) brightness(93%) contrast(103%);


}

/* project container styling */ 
.projects {
    background-color: white;
    height: 100%;
    width: 80%; 
    display: flex;
    flex-direction: column;
}
.project-name {
    height:  10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif ;
    font-weight: 700;
    text-decoration: underline;
    
}
.todo-container {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.add-todo-btn {
    width: 15%;
    height: 8%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.add-todo-btn:hover {
    background-color: lightgray;
}
.add-todo-img {
    height: 70%;
    width: 20%;
}
.add-todo-text {
    font-size: 1.1rem;
    font-family: 'Inter', sans-serif ;
}
.invisible {
   display: none;
}

/* add todo form */
.add-todo-form {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 20px;
 
} 

.add-todo-header {
    font-size: 1.5rem;
}
#todo-title-input {
    width: 50%;
    height: 5%;
    border: 1px solid black;
}
#todo-description-input {
    width: 50%;
    height: 5%;
    border: 1px solid black;
}
.important-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.important-label {
    font-size: 1.2rem;
    font-weight: 700;
}
.important-inputs-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
}
.important-one, .important-two {
    display: flex;
    gap: 5px;
}
.date-input {
    width: 30%;
    height: 5%;
    border: 1px solid black;
}
.form-submit-cancel {
    height: 5%;
    width: 30%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.form-submit-btn, .form-cancel-btn {
    height: 100%;
    width: 20%;
    border: 1px solid black;
    background-color: white;
}
.form-submit-btn:hover, .form-cancel-btn:hover {
    background-color: lightgray;
}
